@CHARSET "UTF-8";

/* ad_slides.css */
#ad_screen {
  	position: relative;
  	width: 1060px;
  	height: 350px;
  	background: #FFF;
  	opacity: 0.9;
  	filter: alpha(opacity=90); /* 用于兼容IE低版本 */
  	border-radius: 5px;
  	-webkit-box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.1);
  	-moz-box-shadow: 0 0 1px 20px rgba(0, 0, 0, 0.1);
  	box-shadow:  0 0 1px 20px rgba(0, 0, 0, 0.1);
  	
  	margin: 0 auto;
  	margin-top: 30px;
  	/* border: 1px solid red; */ 
}
#ad_screen #ad_list {
  	position: relative;
  	width: 1100px;
  	height: 350px;
  	overflow: hidden; 
  	/* border: 1px solid black; */
}

#ad_screen #ad_list ul{
	list-style-type: none;
  	position: absolute;
  	top: 0;
  	left: 350px;
  	margin: 0; /* 去除浏览器默认 */
  	padding: 0;
}
#ad_screen #ad_list li {
  	width: 350px;
  	height: 350px;
  	overflow: hidden;
 	/* border: 1px solid black; */
}
#ad_screen .count {
  	position: absolute;
  	right: 0;
  	bottom: -15px;
  	text-align: center;
 	font-size: 1.5rem;
}
#ad_screen .count li{
  	color: #CACACA;
  	float: left;

  	width: 40px;
  	height: 30px; 
  	cursor: pointer;
  	margin-right: 40px;
  	overflow: hidden;
  	opacity: 0.7;
  	filter: alpha(opacity=70); /* 用于兼容IE低版本 */
  	background-color: #9D0D0C;
}
#ad_screen .count li.current{ /* 当前显示幻灯片编号 */
  	color: white;
  	opacity: 1;
  	filter: alpha(opacity=100);
  	font-weight: 900;
}

/* 双列布局 */
#main>#cols {
	height: 300px;
	width: 1100px;
	margin-top: 40px;
}
#main>#cols>#new_message {
	height: 240px;
	width: 640px;
	float: left;
	padding: 30px;
	background-color: white;
	opacity: 0.9;
  	filter: alpha(opacity=90); /* 用于兼容IE低版本 */
  	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  						0 1px 4px rgba(0, 0, 0, 0.3), 
  						0 0 60px rgba(0, 0, 0, 0.1) inset;
  	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  					 0 1px 4px rgba(0, 0, 0, 0.3), 
  					 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  				0 1px 4px rgba(0, 0, 0, 0.3), 
 				0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#main>#cols>#new_message>span {
	text-size: 1rem;
	color: #9D0D0C;
	opacity: 1;
  	filter: alpha(opacity=100); /* 用于兼容IE低版本 */
 	font-size: 1.4rem;
}
#main>#cols>#new_message>hr {
	height: 6px;
	background-color: #9D0D0C;
	border: none;
	border-bottom: 6px solid #BD0600;
}
#main>#cols>#new_message>ul {
	margin: 20px 0 0 15px;
	padding: 0;
	font-family: 微软雅黑;
	font-size: 0.9rem;
}
#main>#cols>#new_message>ul>li {	
	margin-top: 10px;
	border-bottom: 1px dotted #BD0600;
}
	
#main>#cols>#about_me {
	height: 240px;
	margin: 20px 0 0 720px;
	background-color: white;
	padding: 30px;
	opacity: 0.9;
  	filter: alpha(opacity=90); /* 用于兼容IE低版本 */
  	-webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  						0 1px 4px rgba(0, 0, 0, 0.3), 
  						0 0 60px rgba(0, 0, 0, 0.1) inset;
  	-moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  					 0 1px 4px rgba(0, 0, 0, 0.3), 
  					 0 0 40px rgba(0, 0, 0, 0.1) inset;
  	box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 
  				0 1px 4px rgba(0, 0, 0, 0.3), 
  				0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#main>#cols>#about_me>span {
	text-size: 1rem;
	color: #9D0D0C;
	opacity: 1;
  	filter: alpha(opacity=100); /* 用于兼容IE低版本 */
 	font-size: 1.4rem;
}
#main>#cols>#about_me>hr {
	height: 6px;
	background-color: #9D0D0C;
	border: none;
	border-bottom: 6px solid #BD0600;
}
#main>#cols>#about_me>ul {
	margin: 0;
	padding: 0;
	margin-top: 20px;
	list-style-type: none;
	font-family: 微软雅黑;
	font-size: 0.9rem;
}
#main>#cols>#about_me>ul>li {
	margin-top: 10px;
	border-bottom: 1px dotted #BD0600;
}
#cols>#new_message>ul>li>p{
	margin: 0;
	padding: 0;
}
#cols>#new_message>ul>li>p>span:nth-child(1):after{
	content: "...";
}
#cols>#new_message>ul>li>p>span:nth-child(2){
	display: none;
}
#cols>#new_message>ul>li>p:hover span:after{
	content: "";
}
#cols>#new_message>ul>li>p:hover span{
	display: inline;
}